Arduino Shutter Control/.vs/Arduino Shutter Control/v15/Server/sqlite3/storage.ide-shm
Arduino Shutter Control/.vs/Arduino Shutter Control/v15/Server/sqlite3/storage.ide-wal
Arduino Shutter Control/Arduino Shutter Control/obj/Debug/Arduino Shutter Control.csprojAssemblyReference.cache
